

<div class="container-fluid" >
<div class="row-fluid">
   <div class="span12" id='show_txn'>
   </div>
</div>

<div class="row-fluid">
   <div class="span12" id='show_stk'>
   </div>
</div>
</div>

<script type="text/javascript">

$('.report-date').datepicker({ dateFormat: 'dd-mm-yy',
    beforeShow: function (textbox, instance) {   
                instance.dpDiv.css({
                    marginTop: (-textbox.offsetHeight+30) + 'px'
                    
                });
            }

 });

function clear_fields(){
  console.log('test1');
  $('.report-date').val('');

  
}

$(document).ready(function() {
  console.log("In Ready");
  $.ajax({
      url: "<%=ajax_reptxn_items_url%>",
      data: { id: "<%=@item.id%>" },
      
       dataType : 'script',
       success: function (response) { console.log ("Req 1")},
        error: function (request, status, error) {
        alert(request.responseText);
        alert(status);
        alert(error);
    },
      type: 'GET'
   });

  $.ajax({
      url: "<%=ajax_stockentry_items_url%>",
      data: { id: "<%=@item.id%>" },
      
       dataType : 'script',
       success: function (response) { console.log ("Req 2")},
        error: function (request, status, error) {
        alert(request.responseText);
        alert(status);
        alert(error);
    },
      type: 'GET'
   });


});



</script>