
<div id="index_head" class="row-fluid" style="padding:0px;margin:0px">
 <div class="span8">
   <h5>Payments</h5>
   <%if !flash[:notice].blank? %>
   <div class="alert alert-success">
   <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;
   </button>
    <%=flash[:notice]%></div>
    <%end%>
 </div>
</div>

<div id="pagn_lnk" class="row-fluid">
   <div class="span12" id='pgnt_div"'>
     <%=render  :template => 'transactions/_paging_links.erb', :locals => {:ctr_method => 'pagination_payments_path',:form_act => pagination_payments_path}  %>
   </div>
</div>

<div id="index_list" class="row-fluid">
  
   <div class="span12" id="py_list">
    
     <%=render :partial => "list" %>

 </div>
  </div>