<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hi,</h3>

      <h5>Timely Balance Check</h5>

      <% @message.each{|m|%>
       <br>
       <%=m%>

      <%}%>


  </body>
</html>    
